* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    gap: 20px;
     
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-text {
    font-size: 20px;
    margin: 10px; 
}

.input-box {
    padding: 5px 10px;
    border-radius: 4px;
}

.input-btn {
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 6px;
}


.container {
    /* border: 1px solid blue; */
    background-color: rgba(179, 149, 94, 0.416);
    /* margin: 50px; */

    display: flex;
    flex-wrap: wrap;

}

.grid-square {
    background-color: rgba(18, 177, 221, 0.379);
    border: 1px dashed black; 

    flex-grow: 1; 
}